<div class="row">
  <div class="question">
   <%= @question %>
  </div>
  <div class="yes">
   <a class="yes" href=<%= @yes %>>YES</a>
  </div>
  <div class="no">
  <a class="no" href=<%= @no %>>NO</a>
  </div>
</div>
